.post-card
  background-color: white
  border: 2px solid transparent
  box-shadow: 0px 3px 8px 1px rgba(48,48,48,.2)
  cursor: pointer
  display: flex
  flex-direction: column
  justify-content: space-between
  margin: 20px 0px
  max-width: 500px
  position: relative
  width: 100%

  &:hover > .post-card__favorite.unapplied,
  &:hover > .post-card__remove
    left: 4%
    opacity: 1

.post-card__image-container
  height: 200px
  width: 100%

.post-card__action-icon
  color: white
  cursor: pointer
  font-size: 22px
  left: 4%
  position: absolute
  top: 10px
  -webkit-text-stroke: 1px $color-grey
  transition: opacity 0.2s, left 0.5s


.post-card__favorite
  @extend .post-card__action-icon

  &.applied
    color: $color-red-light
    left: 90%
    opacity: 1

.post-card__remove
  @extend .post-card__action-icon

  &:hover
    color: $color-grey-dark

.post-card__title
  color: $color-black
  font-family: 'Arvo', sans-serif
  font-size: 18px
  line-height: 24px
  padding: 20px 20px 40px 20px
  text-align: center
  width: 100%

.post-card__footer
  align-items: center
  border-top: 1px solid rgba($color-grey, 0.3)
  color: $color-grey-dark
  display: flex
  font-family: Helvetica, sans-serif
  font-size: 12px
  height: 60px
  justify-content: center

  & > .fa
    margin: 0px 5px

@media(min-width: 500px)
  .post-card
    width: 500px

  .post-card__image-container
    height: 350px

@media(min-width: 1025px)

  .post-card:hover
      border-color: $color-grey

  .post-card__favorite:hover
      color: $color-red-light

  .post-card__remove:hover
      color: $color-grey-dark

  .post-card__action-icon
    left: -10px
    opacity: 0

  .post-card.row > .post-card__action-icon
    left: 25px

  // Row Variation
  .post-card.row
    align-items: center
    flex-direction: row
    height: 75px
    max-width: none
    width: 100%

    &:hover > .post-card__favorite.unapplied,
    &:hover > .post-card__remove
      left: 25px
      opacity: 1

    & > .post-card__action-icon
      align-items: center
      display: flex
      top: 30px

    & > .post-card__body
      align-items: center
      display: flex
      flex-direction: row
      height: 100%

      & > .post-card__image-container
        height: 100%
        width: 75px

      & > .post-card__title
        padding: 0px 20px
        text-align: left

    & > .post-card__footer
      border-top: none
      padding: 0px 20px

    & .lazy-image__loader
      display: none
