.subreddit
  align-items: center
  display: flex
  flex-direction: column
  font-family: Helvetica, sans-serif
  min-height: calc(100vh - 50px)

.subreddit__warning
  align-items: center
  background-color: $color-warning
  display: flex
  justify-content: center
  margin: 50px 0px
  padding: 20px
  width: 80%

.subreddit__posts
  align-items: center
  display: flex
  flex-direction: column
  justify-content: center
  padding: 0% 5%
  width: 100%

.action-bar
  display: none

@media(min-width: 1025px)

  .action-bar
    align-items: center
    background-color: $color-grey-light
    display: flex
    height: 40px
    justify-content: center
    padding: 0 5%
    width: 100%

  .action-bar__container
    align-items: center
    display: flex
    justify-content: space-between
    max-width: 500px
    width: 100%

  .action-bar__container.row
    max-width: none

  .action-bar__section
    align-items: center
    display: flex
    text-transform: uppercase

    & > .action-bar__label
      color: $color-grey-dark
      font-size: 10px
      font-weight: 700
      margin-right: 10px

    & > .action-bar__icon
      color: $color-grey
      cursor: pointer
      margin: 0px 5px

      &.active
        color: $color-grey-dark
